body {
    background: lightgreen;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 30px auto;
}

footer a {
    margin: 0 10px;
    color:darkslateblue;
}

